Repository DataDog/datadog-api-client-typescript, pull requests merged in 2021-09, with the labels that each got.

#266 Link npm and github through repository url
  package.json
Labels: changelog/no-changelog

#275 tests: bump dd-trace to 1.3.0
  package.json
  yarn.lock
Labels: changelog/no-changelog, ci/integrations

#280 Improve missing cassette errors
  features/support/vcr.ts
Labels: changelog/no-changelog

#288 tests: add support for DD_TEST_SITE_URL and sl-validation header
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/tracer.ts
  features/support/undo.ts
Labels: dev/testing, changelog/no-changelog, ci/integrations

#292 tests: bump cucumber and ddtrace
  features/support/hooks.ts
  features/support/world.ts
  package.json
  yarn.lock
Labels: dev/testing, changelog/no-changelog, ci/integrations

#297 Upgrade nock version
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Labels: changelog/no-changelog

#301 Use resolutions to upgrade nock
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Labels: changelog/no-changelog

#309 Wait for undo operations before stopping pollyjs
  features/support/undo.ts
  features/support/vcr.ts
  features/support/world.ts
Labels: changelog/no-changelog
