Repository DataDog/datadog-api-client-typescript, pull requests merged in 2021-11, with the labels that each got.

#347 GCR
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#348 GCR part 2
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#346 Use UTC in time tests
  features/support/templating.ts
Labels: changelog/no-changelog, ci/integrations

#351 Remove deleted models
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadata.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataCi.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataGit.ts
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableParseTestOptionsParser.ts
  packages/datadog-api-client-v1/models/SyntheticsTickInterval.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionCompute.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionSearch.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBy.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBySort.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/UsageComplianceHour.ts
  packages/datadog-api-client-v1/models/UsageComplianceResponse.ts
  packages/datadog-api-client-v1/models/UsageTraceHour.ts
  packages/datadog-api-client-v1/models/UsageTraceResponse.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsHour.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterDeleteResponse.ts
Labels: changelog/no-changelog, ci/integrations

#354 v1.0.0-beta.6
  CHANGELOG.md
  package.json
Labels: documentation, changelog/no-changelog

#370 Remove old models before generation
  Makefile
Labels: changelog/no-changelog, dev/tooling, ci/integrations

#384 package: bump dd-trace-js
  package.json
  yarn.lock
Labels: changelog/no-changelog, ci/integrations

#385 examples: avoid import rewrite
  check-examples.sh
  examples/tsconfig.json
  tsconfig.json
Labels: changelog/no-changelog, dev/tooling, ci/integrations
