Repository DataDog/datadog-api-client-typescript, pull requests merged in 2021-05, with the labels that each got.

#145 Improve README
  README.md
Labels: changelog/no-changelog, documentation

#147 Replace AZP with github actions
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#150 fix integration tests job name
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#159 Prepare release
  CHANGELOG.md
  RELEASING.md
  package.json
Labels: changelog/no-changelog, documentation

#161 Bump
  package.json
Labels: changelog/no-changelog
