Repository DataDog/datadog-api-client-typescript, pull requests merged in 2021-12, with the labels that each got.

#402 Add support for unstable operations
  .generator/templates/api/api.mustache
  .generator/templates/configuration.mustache
  .github/workflows/test.yml
  Makefile
  README.md
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
  features/support/world.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/configuration.ts
Labels: documentation, changelog/Added

#395 tests: throw error on invalid data
  features/step_definitions/request_steps.ts
Labels: dev/testing, changelog/no-changelog, ci/integrations

#420 Ensure `test.codeowners` tags on skipped tests
  features/support/hooks.ts
Labels: changelog/no-changelog, ci/integrations

#432 Sleep after request if needed
  .github/workflows/test_integration.yml
  features/support/given.ts
  features/support/world.ts
Labels: changelog/no-changelog, ci/integrations

#436 tests: bump dd-trace-js to 1.6.0
  bin/dd-cucumber-js
  cucumber.js
  package.json
  yarn.lock
Labels: changelog/no-changelog, ci/integrations

#439 Fix header passing in BDD tests
  features/step_definitions/request_steps.ts
Labels: changelog/no-changelog

#442 Document debug flag
  README.md
Labels: documentation, changelog/no-changelog
