Repository DataDog/datadog-api-client-typescript, pull requests merged in 2022-03, with the labels that each got.

#556 Run pre-commit in forks
  .github/workflows/test.yml
Labels: changelog/no-changelog

#554 Make `typedoc` a devDependency
  package.json
Labels: changelog/Fixed

#558 Beta releases do not bump version
  .github/workflows/prepare_release.yml
Labels: documentation, changelog/no-changelog

#565 Use new `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#571 Change path for `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#577 Export ObjectSerializer
  .generator/templates/index.mustache
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v2/index.ts
Labels: changelog/Added
