Repository DataDog/datadog-api-client-typescript, pull requests merged in 2022-01, with the labels that each got.

#474 Use the same image as other SDKs
  docker-compose.generator.yaml
  docs/v1/LogsApi.md
  docs/v1/MetricsApi.md
  docs/v1/NotebooksApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SyntheticsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/LogsApi.md
  docs/v2/MetricsApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Labels: documentation, changelog/no-changelog

#484 Expose new signal configuration for timeout
  .generator/templates/http/http.mustache
  .generator/templates/http/isomorphic-fetch.mustache
  README.md
  packages/datadog-api-client-v1/http/http.ts
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/http.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
Labels: documentation, changelog/Added

#486 Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/labeler.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#487 Use pako for compressing payloads
  .generator/templates/http/isomorphic-fetch.mustache
  LICENSE-3rdparty.csv
  package.json
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
  yarn.lock
Labels: changelog/Changed

#489 Fix HTTP headers in `fetch` instrumentation
  features/support/tracer.ts
Labels: dev/testing, changelog/no-changelog, ci/integrations

#490 Minor nits to ObjectSerializer
  .generator/templates/model/ObjectSerializer.mustache
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Labels: changelog/no-changelog

#493 Release beta 7
  CHANGELOG.md
  package.json
Labels: documentation, changelog/no-changelog

#494 Handle lack of process variable
  .generator/templates/configuration.mustache
  index.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/configuration.ts
Labels: changelog/Fixed

#498 Use cross-fetch instead of node-fetch
  .generator/templates/http/http.mustache
  .generator/templates/http/isomorphic-fetch.mustache
  LICENSE-3rdparty.csv
  package.json
  packages/datadog-api-client-v1/http/http.ts
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/http.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
  yarn.lock
Labels: changelog/Changed, ci/integrations
