Repository DataDog/datadog-api-client-typescript, pull requests merged in 2022-07, with the labels that each got.

#747 Minor workflow fixes
  .github/workflows/approved_status.yml
  .github/workflows/docs.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#502 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: stale, changelog/no-changelog, dev/tooling

#769 Bump dd-trace
  yarn.lock
Labels: changelog/no-changelog, ci/integrations

#768 Remove codeql run on PR
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog
