Repository DataDog/datadog-api-client-typescript, pull requests merged in 2022-09, with the labels that each got.

#822 Specify python version in Github runner
  .generator/pyproject.toml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: changelog/no-changelog

#834 Refactor error handling to remove duplication
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api/api.j2
  .generator/src/generator/templates/util.j2
  packages/datadog-api-client-common/util.ts
  packages/datadog-api-client-v1/apis/AWSIntegrationApi.ts
  packages/datadog-api-client-v1/apis/AWSLogsIntegrationApi.ts
  packages/datadog-api-client-v1/apis/AuthenticationApi.ts
  packages/datadog-api-client-v1/apis/AzureIntegrationApi.ts
  packages/datadog-api-client-v1/apis/DashboardListsApi.ts
  packages/datadog-api-client-v1/apis/DashboardsApi.ts
  packages/datadog-api-client-v1/apis/DowntimesApi.ts
  packages/datadog-api-client-v1/apis/EventsApi.ts
  packages/datadog-api-client-v1/apis/GCPIntegrationApi.ts
  packages/datadog-api-client-v1/apis/HostsApi.ts
  packages/datadog-api-client-v1/apis/IPRangesApi.ts
  packages/datadog-api-client-v1/apis/KeyManagementApi.ts
  packages/datadog-api-client-v1/apis/LogsApi.ts
  packages/datadog-api-client-v1/apis/LogsIndexesApi.ts
  packages/datadog-api-client-v1/apis/LogsPipelinesApi.ts
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/apis/NotebooksApi.ts
  packages/datadog-api-client-v1/apis/OrganizationsApi.ts
  packages/datadog-api-client-v1/apis/PagerDutyIntegrationApi.ts
  packages/datadog-api-client-v1/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v1/apis/ServiceChecksApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/SlackIntegrationApi.ts
  packages/datadog-api-client-v1/apis/SnapshotsApi.ts
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/apis/TagsApi.ts
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/apis/UsersApi.ts
  packages/datadog-api-client-v1/apis/WebhooksIntegrationApi.ts
  packages/datadog-api-client-v2/apis/AuditApi.ts
  packages/datadog-api-client-v2/apis/AuthNMappingsApi.ts
  packages/datadog-api-client-v2/apis/CloudWorkloadSecurityApi.ts
  packages/datadog-api-client-v2/apis/DashboardListsApi.ts
  packages/datadog-api-client-v2/apis/EventsApi.ts
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/apis/KeyManagementApi.ts
  packages/datadog-api-client-v2/apis/LogsApi.ts
  packages/datadog-api-client-v2/apis/LogsArchivesApi.ts
  packages/datadog-api-client-v2/apis/LogsMetricsApi.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/apis/OpsgenieIntegrationApi.ts
  packages/datadog-api-client-v2/apis/OrganizationsApi.ts
  packages/datadog-api-client-v2/apis/ProcessesApi.ts
  packages/datadog-api-client-v2/apis/RUMApi.ts
  packages/datadog-api-client-v2/apis/RolesApi.ts
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/apis/ServiceAccountsApi.ts
  packages/datadog-api-client-v2/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v2/apis/UsersApi.ts
Labels: changelog/no-changelog

#836 Handle errors in deserialization errors
  .generator/src/generator/templates/api/api.j2
  packages/datadog-api-client-v1/apis/AWSIntegrationApi.ts
  packages/datadog-api-client-v1/apis/AWSLogsIntegrationApi.ts
  packages/datadog-api-client-v1/apis/AuthenticationApi.ts
  packages/datadog-api-client-v1/apis/AzureIntegrationApi.ts
  packages/datadog-api-client-v1/apis/DashboardListsApi.ts
  packages/datadog-api-client-v1/apis/DashboardsApi.ts
  packages/datadog-api-client-v1/apis/DowntimesApi.ts
  packages/datadog-api-client-v1/apis/EventsApi.ts
  packages/datadog-api-client-v1/apis/GCPIntegrationApi.ts
  packages/datadog-api-client-v1/apis/HostsApi.ts
  packages/datadog-api-client-v1/apis/IPRangesApi.ts
  packages/datadog-api-client-v1/apis/KeyManagementApi.ts
  packages/datadog-api-client-v1/apis/LogsApi.ts
  packages/datadog-api-client-v1/apis/LogsIndexesApi.ts
  packages/datadog-api-client-v1/apis/LogsPipelinesApi.ts
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/apis/NotebooksApi.ts
  packages/datadog-api-client-v1/apis/OrganizationsApi.ts
  packages/datadog-api-client-v1/apis/PagerDutyIntegrationApi.ts
  packages/datadog-api-client-v1/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v1/apis/ServiceChecksApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/SlackIntegrationApi.ts
  packages/datadog-api-client-v1/apis/SnapshotsApi.ts
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/apis/TagsApi.ts
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/apis/UsersApi.ts
  packages/datadog-api-client-v1/apis/WebhooksIntegrationApi.ts
  packages/datadog-api-client-v2/apis/AuditApi.ts
  packages/datadog-api-client-v2/apis/AuthNMappingsApi.ts
  packages/datadog-api-client-v2/apis/CloudWorkloadSecurityApi.ts
  packages/datadog-api-client-v2/apis/DashboardListsApi.ts
  packages/datadog-api-client-v2/apis/EventsApi.ts
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/apis/KeyManagementApi.ts
  packages/datadog-api-client-v2/apis/LogsApi.ts
  packages/datadog-api-client-v2/apis/LogsArchivesApi.ts
  packages/datadog-api-client-v2/apis/LogsMetricsApi.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/apis/OpsgenieIntegrationApi.ts
  packages/datadog-api-client-v2/apis/OrganizationsApi.ts
  packages/datadog-api-client-v2/apis/ProcessesApi.ts
  packages/datadog-api-client-v2/apis/RUMApi.ts
  packages/datadog-api-client-v2/apis/RolesApi.ts
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/apis/ServiceAccountsApi.ts
  packages/datadog-api-client-v2/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v2/apis/UsersApi.ts
Labels: changelog/Fixed

#844 Add section in readme to configure proxy
  README.md
Labels: documentation, changelog/no-changelog

#857 Fix debug output
  .generator/src/generator/templates/http/isomorphic-fetch.j2
  packages/datadog-api-client-common/http/isomorphic-fetch.ts
Labels: changelog/Fixed
