Repository DataDog/datadog-api-client-typescript, pull requests merged in 2022-02, with the labels that each got.

#509 Bump dd-trace to 2.1.1
  features/support/vcr.ts
  package.json
  yarn.lock
Labels: changelog/no-changelog

#520 Set name in typedoc
  .github/workflows/docs.yml
Labels: changelog/no-changelog

#533 Automatize release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#538 Bump version
  package.json
Labels: changelog/no-changelog

#540 Do not use v prefix in prepare release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#543 Minor release tweak
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog

#550 Remove make .env
  .gitignore
  Makefile
Labels: changelog/no-changelog

#547 Don't distribute tests directory
  tsconfig.json
Labels: changelog/Added
