Repository DataDog/datadog-api-client-typescript, pull requests merged in 2023-02, with the labels that each got.

#998 Support differing operation tag and undo tag
  features/support/undo.ts
Labels: changelog/no-changelog

#1010 Deserialize fixture values
  features/step_definitions/request_steps.ts
  features/support/templating.ts
Labels: changelog/no-changelog

#1009 More resilient `date-time` deserialization
  .generator/src/generator/templates/model/ObjectSerializer.j2
  features/step_definitions/request_steps.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  tests/api/date_time.test.ts
Labels: changelog/Fixed

#1035 [ci-visibility] Bump `dd-trace`
  package.json
  yarn.lock
Labels: dev/testing, changelog/no-changelog, ci/integrations

#1044 Update dependencies
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Labels: changelog/no-changelog
