Repository DataDog/datadog-api-client-typescript, pull requests merged in 2023-09, with the labels that each got.

#1293 Add retry support
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/http/http.j2
  .generator/src/generator/templates/http/isomorphic-fetch.j2
  LICENSE-3rdparty.csv
  README.md
  package.json
  packages/datadog-api-client-common/configuration.ts
  packages/datadog-api-client-common/http/http.ts
  packages/datadog-api-client-common/http/isomorphic-fetch.ts
  tests/api/retry.test.ts
  tests/api/server.test.ts
  yarn.lock
Labels: documentation, changelog/Added

#1321 Fix passing body in retry logic
  .generator/src/generator/templates/http/isomorphic-fetch.j2
  packages/datadog-api-client-common/http/isomorphic-fetch.ts
Labels: changelog/Fixed, ci/integrations

#1333 Rerun failed tests
  DEVELOPMENT.md
  package.json
  run-tests.sh
Labels: documentation, changelog/no-changelog
